<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>

    <com.openshift.jenkins.plugins.pipeline.OpenShiftScaler>
      <apiURL></apiURL>
      <depCfg>frontend</depCfg>
      <namespace></namespace>
      <replicaCount>0</replicaCount>
      <authToken></authToken>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftScaler>

    <com.openshift.jenkins.plugins.pipeline.OpenShiftBuilder>
      <apiURL></apiURL>
      <bldCfg>frontend</bldCfg>
      <namespace></namespace>
      <authToken></authToken>
      <checkForTriggeredDeployments>false</checkForTriggeredDeployments>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftBuilder>

    <com.openshift.jenkins.plugins.pipeline.OpenShiftDeployer>
      <apiURL></apiURL>
      <namespace></namespace>
      <authToken></authToken>
      <verbose>false</verbose>
      <waitTime></waitTime>
      <waitUnit>sec</waitUnit>
      <depCfg>frontend</depCfg>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftDeployer>
    
    <com.openshift.jenkins.plugins.pipeline.OpenShiftServiceVerifier>
      <apiURL></apiURL>
      <namespace></namespace>
      <authToken></authToken>
      <verbose>false</verbose>
      <svcName>frontend</svcName>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftServiceVerifier>
    
    <com.openshift.jenkins.plugins.pipeline.OpenShiftImageTagger>
      <apiURL></apiURL>
      <namespace></namespace>
      <authToken></authToken>
      <verbose>false</verbose>
      <testTag>latest</testTag>
      <prodTag>prod</prodTag>
      <testStream>origin-nodejs-sample</testStream>
      <prodStream>origin-nodejs-sample</prodStream>
      <destinationNamespace></destinationNamespace>
      <destinationAuthToken></destinationAuthToken>
      <alias>false</alias>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftImageTagger>

    <com.openshift.jenkins.plugins.pipeline.OpenShiftDeploymentVerifier>
      <apiURL></apiURL>
      <namespace></namespace>
      <authToken></authToken>
      <verbose>false</verbose>
      <waitTime></waitTime>
      <waitUnit>milli</waitUnit>
      <depCfg>frontend-prod</depCfg>
      <replicaCount>1</replicaCount>
      <verifyReplicaCount>false</verifyReplicaCount>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftDeploymentVerifier>

  </builders>
  <publishers/>
  <buildWrappers/>
</project>
