<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.promoted__builds.PromotionProcess plugin="promoted-builds@2.21">
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <conditions>
    <hudson.plugins.promoted__builds.conditions.SelfPromotionCondition>
      <evenIfUnstable>false</evenIfUnstable>
    </hudson.plugins.promoted__builds.conditions.SelfPromotionCondition>
  </conditions>
  <icon>star-gold</icon>
  <buildSteps>
    <hudson.tasks.BuildTrigger>
      <childProjects>sample-app-build</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </buildSteps>
</hudson.plugins.promoted__builds.PromotionProcess>
