<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>

    <com.openshift.jenkins.plugins.pipeline.OpenShiftScaler>
       <replicaCount>0</replicaCount>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftScaler>

    <com.openshift.jenkins.plugins.pipeline.OpenShiftBuilder>
      <checkForTriggeredDeployments>true</checkForTriggeredDeployments>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftBuilder>

    <com.openshift.jenkins.plugins.pipeline.OpenShiftDeploymentVerifier>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftDeploymentVerifier>

    <com.openshift.jenkins.plugins.pipeline.OpenShiftScaler>
      <replicaCount>1</replicaCount>
      <verifyReplicaCount>true</verifyReplicaCount>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftScaler>
    
    <com.openshift.jenkins.plugins.pipeline.OpenShiftServiceVerifier>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftServiceVerifier>

    <com.openshift.jenkins.plugins.pipeline.OpenShiftImageTagger>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftImageTagger>

    <com.openshift.jenkins.plugins.pipeline.OpenShiftDeploymentVerifier>
      <depCfg>frontend-prod</depCfg>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftDeploymentVerifier>

  </builders>
  <publishers/>
  <buildWrappers/>
</project>
